
.app-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: #222;
    font-family:'Times New Roman', Times, serif
}


.chat-wrapper {
    width: 400px;
    margin: 30px auto 0 auto;
    text-align: center;
}


.logout-button {
    background-color: wheat;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 20px;

}


.chat-container-body {
    background-color: #2f4f4f;
    border-radius: 15px;
    padding: 20px;
    color: white;
    height: 500px;
    display: flex;
    flex-direction: column;
}


.chat-container {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 15px;
}


.chat-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 10px;
}


.chat-info button {
    background-color: wheat;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 600;
}



.chat-field {
    display: flex;
    gap: 10px;
}

.chat-field input {
    flex: 1;
    padding: 12px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
}

.chat-field button {
    background-color: wheat;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
}

.button-primary {
    background-color: #2f4f4f;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}


