ul {
    list-style-type: none;
}
.chat-container-body {
    background: #2f4f4f;
    border: 1px solid #444;
    border-radius: 10px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
}
.chat-container {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.chat-field {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    background: #2f4f4f;
    width: 10.2cm;
}

.chat-field input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    background: wheat;
    font-size: 16px;
    outline: none;
    font-family: 'Times New Roman';
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}

.chat-field button {
    margin-left: 8px;
    padding: 10px 13px;
    background-color: wheat;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.chat-field button:hover {
  background-color: wheat;
}

.App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}
.chat-title {
    position: revert-layer;
    top: 1px;
    right: 2px;
    font-size: 16px;
    font-weight: bold;
    color: wheat;
    font-family: 'Times New Roman';
}
.chat-info {
    position: relative;
    color: white;
    font-family: 'Times New Roman';
    gap: 10px;
    margin-bottom: 15px;
    padding-right: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.chat-bigTitle {
    font-size: 30px;
    font-family: 'Times New Roman';
    color: #2f4f4f;
}
.button_for_name {
    margin-left: 16px;
    margin-top: -170px;
    padding: 15px 25px;
    background-color: #2f4f4f;
    color: wheat;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman';
}
.username-title-warning {
     margin-left: 16px;
    margin-top: -10px;
    font-size: 30px;
    font-family: 'Times New Roman';
    color: #2f4f4f;
}
.username-button-send {
    margin-left: 150px;
    padding: 10px 20px;
    background-color: #2f4f4f;
    color: wheat;
    border-radius: 10px;
    font-family: 'Times New Roman';
    font-weight: bold;
    font-size: 16px;
}
.delete-button {
    position: absolute;
    right: 10px;
    padding: 5px 8px;
    background-color: wheat;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman';
}


